/* Add these styles to your NavBar.css file */
.nav-container {
  position: relative;
  border-radius: 50px;
  background: transparent;
}

.nav-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid transparent;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.3) 30%,
      rgba(255, 255, 255, 0.3) 70%,
      rgba(255, 255, 255, 1) 100%
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #75ff66;
  transition: width 0.3s ease-in-out;
}

.hover-underline:hover::after {
  width: 100%;
}

/* Add this new style for active links */
.active-link::after {
  width: 100% !important;
}

/* Remove focus outline from nav links */
.nav-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Remove focus outline from navbar-toggler */
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
